// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');


// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Variables
@import 'variables';

.highlight {
    filter: brightness(70%);
    transition: filter 0.5s ease;
}

.highlight:hover {
    filter: brightness(100%);
}